.ProtectLayer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: fixed;
  bottom: 20px;
}

.ProtectLayer .keyboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ProtectLayer .keyboard .row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.ProtectLayer .keyboard .row .key {
  min-width: calc(25vw - 20px);
  min-height: calc(25vw - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  color: #fff;
  border-radius: 25vw;
  border: 2px solid #09c;
  margin: 20px;
  cursor: pointer;
}

.ProtectLayer .keyboard .row .key:hover {
  background-color: rgba(0, 153, 204, 0.452);
}

.ProtectLayer .input {
  font-size: 20vw;
  height: 25vw;
  width: calc(100% - 40px);
  border-bottom: 1px solid #09c;
  color: #09c;
  margin: 0 20px;
}

.ProtectLayer .input.error {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  color: red;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}