<div class="header">
  <form class="example-form">
    <mat-form-field class="example-full-width" style="width: 100%">
      <input #autocompleteInput [formControl]="searchControl" [matAutocomplete]="auto" matInput placeholder="Szukaj..."
             type="text">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="openOption($event)" [displayWith]="displayFn">
        <ng-container *ngFor="let key of ['albums', 'artists', 'books']">
          <mat-option *ngFor="let option of resultsList[key]" [value]="option">
            <mat-icon>{{iconsByType[key]}}</mat-icon>
            <div class="result-content">
              <span class="result-name">
                <ng-container *ngIf="['albums', 'books'].includes(key)">
                {{getArtists(option)}} -
                </ng-container>
                {{option.name}}
              </span>
              <span class="result-type">{{typeDictionaryEnum[key]}}</span>
            </div>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
