<div class="container">
  <div class="mat-elevation-z8">
    <mat-form-field>
      <mat-label>Filtruj</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" *ngIf="dataSource">

      <ng-container matColumnDef="cover">
        <th mat-header-cell *matHeaderCellDef> Okładka</th>
        <td mat-cell *matCellDef="let row">
          <img src="{{row.cover}}" alt="" *ngIf="row.cover">
          <mat-icon *ngIf="!row.cover">menu_book</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="artists">
        <th mat-header-cell *matHeaderCellDef> Autor</th>
        <td mat-cell *matCellDef="let row"> {{(row.artists || []).join(', ')}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tytuł</th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Akcje</th>
        <td mat-cell *matCellDef="let row">
          <app-table-actions type="book" [key]="row.key"></app-table-actions>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <app-no-data-info [dataSource]="dataSource" [filter]="filter"></app-no-data-info>
  </div>

</div>
