<div class="container">
  <div class="mat-elevation-z8">
    <mat-form-field>
      <mat-label>Filtruj</mat-label>
      <input (keyup)="applyFilter($event)" matInput>
    </mat-form-field>

    <table *ngIf="dataSource" [dataSource]="dataSource" mat-table>

      <ng-container matColumnDef="cover">
        <th *matHeaderCellDef mat-header-cell> Okładka</th>
        <td *matCellDef="let row" mat-cell>
          <img *ngIf="row.cover" alt="" src="{{row.cover}}">
          <mat-icon *ngIf="!row.cover">menu_book</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="artists">
        <th *matHeaderCellDef mat-header-cell> Autor</th>
        <td *matCellDef="let row" mat-cell> {{(row.artists || []).join(', ')}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Tytuł</th>
        <td *matCellDef="let row" mat-cell> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell> Akcje</th>
        <td *matCellDef="let row" mat-cell>
          <app-table-actions [key]="row.key" type="book"></app-table-actions>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row>
      </tr>
    </table>
    <app-no-data-info [dataSource]="dataSource" [filter]="filter"></app-no-data-info>
  </div>

</div>
