<div class="left-menu">
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/artists" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        Wykonawcy
      </a>
    </li>
    <li>
      <a routerLink="/albums" routerLinkActive="active">
        <mat-icon>album</mat-icon>
        Albumy
      </a>
    </li>
    <li>
      <a routerLink="/books" routerLinkActive="active">
        <mat-icon>menu_book</mat-icon>
        Książki
      </a>
    </li>
    <li (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
      Dodaj
    </li>
  </ul>
</div>
