<div class="container">
  <h2>{{artist?.name}}</h2>

  <div *ngIf="albums.length" class="albums">
    <div class="title">Albumy</div>
    <mat-card *ngFor="let item of albums" class="card">
      <mat-card-header>
        <mat-card-title>
          {{item.name}}
          <ng-container [ngSwitch]="item.status">
            <mat-icon class="green" [matTooltip]="item.status" *ngSwitchCase="'Posiadane'">check</mat-icon>
            <mat-icon class="yellow" [matTooltip]="item.status" *ngSwitchCase="'Zamówione'">local_grocery_store</mat-icon>
          </ng-container>
        </mat-card-title>
        <mat-card-subtitle>{{item.status}}</mat-card-subtitle>
      </mat-card-header>
      <img *ngIf="item.cover" [attr.src]="item.cover" mat-card-image>
      <mat-icon *ngIf="!item.cover">album</mat-icon>
    </mat-card>
  </div>

  <div *ngIf="books.length" class="books">
    <div class="title">Książki</div>
    <mat-card *ngFor="let item of books" class="card">
      <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle>{{artist?.name}}</mat-card-subtitle>
      </mat-card-header>
      <img *ngIf="item.cover" [attr.src]="item.cover" mat-card-image>
      <mat-icon *ngIf="!item.cover">menu_book</mat-icon>
    </mat-card>

  </div>
</div>
