<mat-button-toggle-group [(ngModel)]="typeFilter">
  <mat-button-toggle value="all">Wszystko</mat-button-toggle>
  <mat-button-toggle value="albums">Albumy</mat-button-toggle>
  <mat-button-toggle value="artists">Wykonawcy</mat-button-toggle>
  <mat-button-toggle value="books">Książki</mat-button-toggle>
</mat-button-toggle-group>

<div class="grid">

  <div class="item"
       *ngFor="let item of items"
       (click)="selectItem(item)"
       [ngClass]="{'selected': item.selected}">
    <mat-icon>{{iconsByType[item.type]}}</mat-icon>
    {{item.name}}
  </div>

</div>

<app-no-data-info [dataSource]="items" [filter]="filter"></app-no-data-info>

<div class="right-panel" [ngClass]="{'open': selected}">
  <div class="top">
    <mat-icon (click)="closePanel()">close</mat-icon>
    <div class="name">{{selected?.name}}</div>
  </div>
  <div class="middle">
    <div class="icon">
      <mat-icon>{{iconsByType[selected?.type]}}</mat-icon>
    </div>
    <div class="name">
      <ng-container *ngIf="selected?.artists">
        <span class="artist-single"
              *ngFor="let artist of selected?.artists; let last=last"
              (click)="search(artist)">
          {{artist.name}}{{last ? ' - ' : ', '}}
        </span>
      </ng-container>
      {{selected?.name}}
    </div>

    <ul class="albums" *ngIf="selected?.albums">
      <li *ngFor="let album of selected?.albums">
        <mat-icon>{{iconsByType['albums']}}</mat-icon> {{album.name}}
      </li>
    </ul>
    <ul class="books" *ngIf="selected?.books">
      <li *ngFor="let book of selected?.books">
        <mat-icon>{{iconsByType['books']}}</mat-icon> {{book.name}}
      </li>
    </ul>
  </div>
</div>
