<h1 mat-dialog-title>Dodaj</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Typ</mat-label>
    <mat-select [(ngModel)]="type">
      <mat-option *ngFor="let key of typeDictionaryEnumKeys" [value]="key">{{typeDictionaryEnum[key]}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nazwa</mat-label>
    <input [(ngModel)]="name" matInput>
  </mat-form-field>

  <mat-form-field *ngIf="type === 'album'">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="status">
      <mat-option [value]="'Posiadane'">Posiadane</mat-option>
      <mat-option [value]="'Zamówione'">Zamówione</mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="['album', 'book'].includes(type)">
    <mat-chip-list #chipList1>
      <mat-chip *ngFor="let artist of filteredArtists">
        {{artist}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <mat-form-field class="example-full-width" style="width: 100%">
      <mat-label>Autor</mat-label>
      <input #autocompleteInput (keydown.tab)="addArtist($event)" (keyup)="getArtists($event)" [(ngModel)]="artist"
             [matAutocomplete]="auto"
             matInput>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectArtistOption($event)" [displayWith]="displayFn">
        <mat-option *ngFor="let artist of artistsList" [value]="artist">{{artist}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Anuluj</button>
  <button (click)="sendData()" mat-button>{{data?.key ? 'Zapisz' : 'Dodaj'}}</button>
</div>
