@import "../../assets/scss/variables";

.left-menu {
  width: $sidebarSmallWidth;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: $primary-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  overflow-x: hidden;

  &:hover {
    width: $sidebarWidth;
  }

  ul {
    width: $sidebarWidth;

    li {
      width: 100%;
      height: 40px;
      display: flex;
      font-size: 20px;

      a {
        color: #ffffff;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;

        mat-icon {
          margin: 0 5px 0 0;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &:hover {
        background: rgba(0, 0, 0, 0.4);
      }
    }
  }

}
