<div class="container">
  <mat-form-field>
    <mat-label>Filtruj</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource">

      <!-- Progress Column -->
      <ng-container matColumnDef="cover">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Okładka</th>
        <td mat-cell *matCellDef="let row">
          <img src="{{row.cover}}" alt="" *ngIf="row.cover">
          <mat-icon *ngIf="!row.cover">album</mat-icon>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="artists">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Artysta</th>
        <td mat-cell *matCellDef="let row"> {{(row.artists || []).join(', ')}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tytuł</th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>

</div>
